* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background: url("./images/pexels-photo-91224.jpeg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  margin: 50px 20px;
  padding: 20px 0px;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: darkslategrey;
}
.logo img {
  width: 150px;
  float: left;
  padding-left: 5%;
  padding-top: 2%;
}

ul {
  list-style: none;
  display: flex;
}

.line {
  border-top: 3px solid darkred;
  width: 10%;
  margin-left: 45%;
}

center h1 {
  margin-top: 30px;
  font-family: serif Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
}

center h3 {
  margin-top: 24px;
  font-weight: 70;
}

.women-img {
  height: 200px;
  margin: 30px;
}

.about-me {
  display: flex;
}

.about-me h3 {
  margin: 30px;
  text-align: center;
  padding: 10px;
  padding-left: 200px;
}

.info1 {
  background-color: rgb(223, 219, 219);
  margin-top: 20px;
  border-left: 3px solid darkred;
}

.info1 h4 {
  margin-left: 300px;
  margin-top: 20px;
}

.info1 p {
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.section-c {
  display: flex;
}

.content-c {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 540px;
  height: 180px;
}

.section-c h2 {
  color: black;
  text-align: center;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 10px;
}

.content-c i {
  text-align: center;
  font-size: 40px;
  color: lightcoral;
}

.odd {
  background-color: rgb(232, 213, 216);
}

.div3 {
  margin-left: 10px;
}
.div3 h2 {
  margin-top: 50px;
}
.p12 {
  display: flex;
  justify-content: space-between;

  padding-top: 60px;
  float: left;
  padding: 10px;
}
.p12 p {
  border: solid black 1px;
  padding: 10px;
  padding-right: 20px;
  margin: 20px;
  background-color: aliceblue;
  border-radius: 15px;
}
.p1 img {
  background-color: white;

  height: 60px;
  border-radius: 50%;
  size: 10px;
  width: 70px;
}
.p1 h1 {
  font-size: 20px;
  float: right;
}

.d12 {
  flex-direction: row wrap;
  display: flex;
  justify-content: center;
  padding-top: 40px;

  padding: 10px;
  padding-right: 100px;

  background-color: rgb(214, 202, 204);
}
.d1 {
  padding-right: 30px;
  margin-right: 40px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.d1 i .open {
  font-size: 60px;
  padding-bottom: 40px;
}
.counter {
  text-align: center;
  font-size: 45px;
  margin: 20px 20px;
  padding: 5px 20px;
}

.footer {
  background-color: rgb(72, 72, 72);
  padding: 20px;
  margin-top: 10px;
  height: 400px;
}
.foot {
  display: flex;
  justify-content: space-evenly;
}

.div1 {
  width: 25%;
  padding: 0 15px;
}
.div1 h4 {
  font-size: 18px;
  color: rgb(255, 249, 252);
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 500;
  position: relative;
}
.bottomline {
  height: 3px;
  width: 65px;
  background: lightcoral;
  margin: 8px 0;
}
.div1 pre {
  color: #a9a8a8;
}
.div1 a {
  color: #a9a8a8;
  font-size: 16px;
}

.div1 ul {
  display: flex;
  flex-direction: column;
}

.div1 li:hover {
  margin-left: 24px;
}

.div1 a:hover {
  color: lightpink;
}

.fa-brands {
  font-size: 24px;
  padding: 12px;
  background-color: grey;
  border-radius: 50%;
  color: white;
}

.fa-brands:hover {
  background-color: lightpink;
  color: black;
}

.btn-dark {
  padding: 10px;
  margin-top: 54px;
}

.btn-dark:hover {
  background-color: rgb(166, 130, 142);
  color: black;
}

.div1 h3 {
  margin-bottom: 24px;
}

.div1 li {
  margin-bottom: 24px;
}

.div1 pre {
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
}
.My-skills {
  background-color: rgb(214, 211, 214);

  margin-top: 20px;
}

.progress-bar-container {
  margin-left: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Styling the h2 tag by giving color,
letter spacing, font-size etc.*/
.progress-bar-container h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  letter-spacing: 1px;
  font-size: 20px;
}

/* Styling the border and box
effect of the progress bar*/
.progress-bar {
  width: 900px;
  height: 15px;
  margin-top: 10px;
  border: 1px solid #565656;
  border-radius: 5px;
  box-shadow: 0 0 10px plum;
}

/* Stylingthe background color of each
animation and border radius */
.percentage {
  display: block;
  height: 100%;
  background-color: rgb(224, 144, 156);
  border-radius: 5px;
  animation: progress 3000ms ease-in 1;
}

/* Assigning width of each languages*/
.c {
  width: 65%;
}

.html {
  width: 85%;
}

.css {
  width: 75%;
}

.javascript {
  width: 65%;
}

/* Animating the progress bar by
initially starting from 0*/
@keyframes progress {
  from {
    width: 0;
  }
}

/*--------ACTIVITIES------------*/

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.item {
  position: relative;
  background-color: white;
  overflow: hidden;
}
.item-image img {
  height: 400px;
  width: 500px;
}
.item-text-wrap p {
  margin: 20px;
  font-size: 25px;
  color: black;
}

.item-text-wrap h2 {
  margin: 20px;
  font-size: 35px;
  color: black;
}
.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 25%;
  text-align: center;
  opacity: 0;
  z-index: 1;
  transform: opacity ease-in-out;
  transition-delay: 400ms;
}
.item:hover .item-text {
  opacity: 1;
}
.item::after {
  content: "";
  display: block;
  position: absolute;
  background: rgb(214, 161, 169);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 1.5s ease;
}
.item:hover::after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
.item:hover .item-image {
  transform: scale(1.5);
}
.item-image {
  transition: transform 1s ease-in-out;
}

/*--------BLOGS------------*/

.blog1 {
  height: 300px;
  background-color: rgb(214, 202, 204);
}

.blog1 h2 {
  padding: 20px;
  font-size: 35px;
}

.blog1 i {
  font-size: 30px;
  padding: 10px;
}
.blog1 strong {
  font-size: 20px;
}

.p-1 {
  font-size: 18px;
  padding-left: 20px;
}

.blog1 span,
.blog2 span {
  font-size: 18px;
  padding-left: 15px;
}

.blog2 {
  height: 300px;
  background-color: white;
}

.blog2 h2 {
  padding: 20px;
  font-size: 35px;
}

.blog2 i {
  font-size: 30px;
  padding: 10px;
}
.blog2 strong {
  font-size: 20px;
}

.blog1 button {
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
}

.blog2 button {
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  background-color: gray;
  border-color: gray;
  color: white;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}
